@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

html, body {
    width: 90%;
    margin: auto;
    background-color: black;
}

#grid-main {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr 3fr 1fr;
}

.dashboard {
    color: white;
    background-color: #439bff;
    grid-row: 1 / 3;

}

.dashboard-grid {
    display: grid;
    grid-template-rows: ;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    box-shadow: 0 1px 4px;
}

.header-grid {
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    padding: 10px 20px;
}

.header-login,
.header-name {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    gap: 4px;
}

.header-action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 10px;
}

.header-action > a {
    color: white;
    background-color: #0077ff;
    text-decoration: none;
    border-radius: 13px;
    padding: 3px;
}

img {
    grid-row: 1 / 3;

}

input {
    border-radius: 6px;
    padding: 2px 6px;
    background-color: #c2cfd4;
    border: none;
}

input[id='search'] {
    width: 80%;
}

.content,
.sidebar {
    background-color: #c2cfd4;
}

